exportPattern("^[[:alpha:]]+")
export(piv_rel)
export(piv_MCMC)
export(piv_sel)
export(piv_plot)
export(piv_sim)
export(MUS)
export(piv_KMeans)
import(MASS)
import(cluster)
import(runjags)
import(rjags)
import(bayesmix)
import(mvtnorm)
import(mclust)
importFrom(RcmdrMisc, KMeans)
importFrom("grDevices", "trans3d")
importFrom("graphics", "axis", "barplot", "hist", "matplot", "par",
             "persp", "plot", "points")
importFrom("stats", "as.dist", "cutree", "dist", "hclust", "kmeans",
             "median", "rnorm")
importFrom("utils", "combn")


