exportPattern("^[[:alpha:]]+")
export(pivotal_relabelling)
export(piv_MCMC)
export(plot_pivotal)
export(piv_sim)
export(MUS)
export(MUSKMeans)
import(MASS)
import(cluster)
import(rmarkdown)
import(runjags)
import(rjags)
import(bayesmix)
import(mvtnorm)
import(mclust)
importFrom(RcmdrMisc, KMeans)


