exportPattern("^[[:alpha:]]+")
export(piv_rel)
export(piv_MCMC)
export(piv_sel)
export(piv_plot)
export(piv_sim)
export(MUS)
export(piv_KMeans)
import(runjags)
import(rjags)
import(bayesmix)
import(mvtnorm)
importFrom(MASS, mvrnorm)
importFrom(mclust, adjustedRandIndex)
importFrom(RcmdrMisc, KMeans)
importFrom(cluster, pam, diana)
importFrom("grDevices", "trans3d")
importFrom("graphics", "axis", "barplot", "hist", "matplot", "par",
             "persp", "plot", "points")
importFrom("stats", "as.dist", "cutree", "dist", "hclust", "kmeans",
             "median", "rnorm")
importFrom("utils", "combn")


